[submodule "data"]
	path = data
	url = git@github.com:open-public-transport/open-public-transport-data.git
[submodule "results"]
	path = results
	url = git@github.com:open-public-transport/open-public-transport-results.git
