*.iml
/.idea

*.DS_Store

/venv/
/cache/

/lib/__pycache__
/lib/log/__pycache__
/lib/loader/__pycache__
/lib/loader/osmnx/__pycache__
/lib/loader/overpass/__pycache__
/lib/loader/peartree/__pycache__
/services/metrics/app/__pycache__

/GDAL*/*
GDAL*.tar.gz